.activity-card {
    height: 234px;
    background-color: #fff;
    border-radius: 12px;
    padding: 22px 27px;
    margin-bottom: 26px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}
a {
    color: black;
    text-decoration: none;
}
.activity-body {
    cursor: pointer;
    height: 158px;
}
.activity-body h4 {
    font-size: 18px;
    font-weight: 700;
}

.card-footer {
    position: absolute;
    z-index: 2;
    bottom: 1.3rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border: 0;
    width: calc(100% - 54px);
    padding: 0;
}
.activity-card .card-footer span {
    color: #888;
}

.item-delete {
    cursor: pointer;
}