.todo-header {
    display: flex;
    justify-content: space-between;
    margin: 43px 0 55px;
}

.todo-header .h1, .todo-header h1 {
    font-size: 36px;
    font-weight: 700;
}

.todo-header .btn {
    min-width: 170px;
    background-color: #16abf8;
    width: 170px;
    height: 54px;
    border-radius: 45px;
    border: 0;
    padding: 13.5px 29px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

span{
    margin-right: 1rem;
}
