.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-title {
    display: flex;
    align-items: center;
}
.todo-header .todo-title h1 {
    margin-bottom: 0;
    max-width: 583px;
    font-size: 36px;
    font-weight: 700;
}

.todo-header .todo-title .icon-back {
    margin-right: 20px;
}
.icon-back {
    width: 32px;
}
.icon-back, .icon-edit-p {
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.todo-header .todo-title .icon-edit-h {
    margin-left: 27px;
}

.btn.btn-primary {
    background-color: #16abf8;
}

.todo-header .btn {
    width: 170px;
    height: 54px;
    min-width: 170px;

}
.avatar {
    margin-top: 1.6rem;
    width: 2.4rem;
    border-radius: 50%;
    border: solid 3px white;
    margin-right: 18px;
    background-color: transparent;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.d-flex{
    align-items: center;
}

.detail-content .empty-item {
    width: 100%;
    display: flex;
    justify-content: center;
}
img, svg {
    vertical-align: middle;
}